.tabuleiro{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    margin-top: 0%;
    justify-content: center;
    align-items: center;
}
.linha {
    width: 800px;
    height: 100px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.linha2{
    width: 800px;
    height: 100px;
    flex-direction: row;
    display: flex;
}
.branco {
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
}
.preto {
    width: 100px;
    height: 100px;
    background-color: black;
    flex-direction: row;
}
.pag2-0{
    display: flex;
    flex-direction: row;
}
.diacho {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #291a21;
    padding: 30px;
    margin-bottom: 100px;
    margin-top: 0%;
}
.diacho li {
    margin: 0 5px;
}

.diacho li a {
    color: #5c5357;
    padding: 15px 50px;
    text-decoration: none;
    background-color: #836c73;
    border-radius: 5px;
}
