#b1 {
    width: 100px;
    height: 100px;
    background-color: rgb(184, 59, 59);
}
#b2 {
    width: 100px;
    height: 150px;
    background-color: beige;
}
#b3 {
    width: 100px;
    height: 70px;
    background-color: rgb(122, 122, 118);
}
#b4 {
    width: 100px;
    height: 190px;
    background-color: lavender;
}
#b5 {
    width: 100px;
    height: 250px;
    background-color: rgb(10, 177, 189);
}
#b6 {
    width: 100px;
    height: 100px;
    background-color: rgb(192, 47, 221);
}
.box {
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
}
.vaca {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #291a21;
    padding: 30px;
    margin-bottom: 100px;
    margin-top: 0%;
}
.vaca li {
    margin: 0 5px;
}

.vaca li a {
    color: #f5f5f5;
    padding: 15px 50px;
    text-decoration: none;
    background-color: #6aa380;
    border-radius: 5px;
}