header{
    background-color: rgb(122, 122, 122);
    display: flex;
    height: 100px;
}
.pig {
    background-color: #291a21;
}
.container{
    background-color: rgba(0, 0, 0, 0.144);
    display: flex;
    height: 500px;
    margin: 5px solid rgb(61, 60, 60);
}
.quadrado1{
    background-color: rgba(27, 17, 17, 0.26);
    display: flex;
    flex-direction: row;
}
.quadrado2{
    flex: 1;
    display: flex;
}
.contend{
    flex: 2;
    display: flex;
    align-items: justify-contend;
    background-color: rgba(0, 0, 0, 0.247);
    flex-direction: column;
}
.add{
    flex: 1;
    display:flex;
    flex-direction: column;
}

footer{
    background-color: rgb(91, 94, 92);
    height:100px;
    
}
#mmm{
    text-align: center;
    justify-content:center;
    margin-top:100px;
    align-items:flex-start;
    
}
.pig{
    display: flex;
    justify-content: center;
    height: 100px;
    flex-direction: row;
    text-align: center;
}
.p1, .p2, .p3 {
    background-color: aquamarine;
    height: 40px;
    width: 70px;
    flex: 1;
}
.diacho {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #291a21;
    padding: 30px;
    margin-bottom: 100px;
    margin-top: 0%;
}
.diacho li {
    margin: 0 5px;
}

.diacho li a {
    color: #ee73a6;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #836c73;
}
.diacho2 {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 0%;
}
.diacho2 li {
    margin: 0 5px;
}

.diacho2 li a {
    color: #ee73a6;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #836c73;
    border-radius: 5px;
}
